  <div class="container-fluid" id="about">
    <div class="salon-header"> <h2 id="salon-form-head">About Moriri</h2> </div>
    <div class="row justify-content-md-center">

      <div class="col-4">
        <%= image_tag("about.png", id:"img-about") %>
      </div>
      <div class="col-8">
        <p id="about">
          My name is Sonia Makhetha, a proud South African and creator of <%= link_to "www.mymoriri.com", "/", id:'about' %>
          I have lived as an expat for over 7 years teaching English as a foreign language in South Korea, Malaysia and Saudi Arabia.<br><br>

          Early last year I moved back to Malaysia to spend a few months in Kuala Lumpur learning how to code at Next Academy, the region's best coding school.
          During this intensive 10 week bootcamp, I needed to braid my hair. So I tried calling my old hair stylist from my previous time in Malaysia, but the number was no longer working and I had to find other means.
          After lots of Google searches and posting in the local Facebook expat groups, I was able to find someone to do my hair, but it was a tedious process.<br><br>

          So when we were given our last project, I came up with the idea of creating a hair directory of sorts for black women living abroad and in need of getting their hair done.
          I wanted to make it easier for women like me to find someone to do their hair wherever they are, with one simple search and so Moriri was born.<br><br>


          Moriri means hair in my mother tongue Sesotho and I wanted a catchy and easy to remember name for my website.
          It's a place where established salons and people offering hair services from their own homes can list their businesses in a centralised place, making it easier for future potential customers to find them.<br><br>

        </p>
      </div>
    <div class="row justify-content-md-center">
      <p>Socialise with us on:<br>
        <%= link_to(image_tag("instagram.png"), "https://www.facebook.com/Moriri-253254908872303/") %>
        <%= link_to(image_tag("facebook.png"), "https://www.instagram.com/moriri_app/") %>
    </p>
    </div>
  </div> 


