<div class="jumbotron text-center jumbotron-fluid" id="welcome-jumbo">
  <div class="container-fluid" id="welcome_con">
	<%= image_tag("logo.png", id: "home_logo", class:"img-fluid") %> 
	  <!-- SLOGAN -->
	  <p id="slogan" style="font-family: 'Oswald',serif;font-size: 2em;color: white; text-shadow:-1px -1px 0 #0E2A36, 1px -1px 0 #0E2A36,-1px 1px 0 #0E2A36, 1px 1px 0 #0E2A36;">Get your hair done all around the world! </p>
	  <!-- SEARCH BOX -->
	    <input type="text" placeholder="Search.."> 
  </div>
</div>

