  <!-- EDIT PAGE -->
  <div class="container-fluid" id="new-salon">
  	<div class="salon-header">
	 <h2 id="salon-form-head">Edit Salon</h2>
	</div>
         <%= form_for @salon do |f| %>
         <%= render partial: '/salons/form', :locals => {:f => f } %>  
         <div class= "submit mt-2"><%= f.submit class: "btn" %></div>
         <% end %>
         <br>
  </div>
  
