  <div class="container-fluid" id="new-salon">
  	<div class="salon-header">
	 <h2 id="salon-form-head" style="font-family: 'Oswald',serif;font-size: 2em;color: white; text-shadow:-1px -1px 0 #0E2A36, 1px -1px 0 #0E2A36,-1px 1px 0 #0E2A36, 1px 1px 0 #0E2A36;">List Salon</h2>
	</div>
         <%= form_for @salon do |f| %>
         <%= render partial: '/salons/form', :locals => {:f => f } %>  
         <div class= "submit mt-2"><%= f.submit class: "btn" %></div>
         <% end %>
         <br>
  </div>
