@import "bootstrap";
@import "welcome";
@import "navbar";
@import "salons";
@import "users";

* {
	font-size: 100%;
	font-family:  Oswald, Work Sans, sans-serif ;
}

h1, h2, h2, h4, h5, h6  {
 font-family:  Oswald;
}

input {
	border-radius: 5px;
}
