
.navbar{
  /*position:fixed;*/
	background: #0E2A36;
	padding-bottom: 0;
	padding-top: 0;
  /*z-index: 1;*/
}

#logo, #avatar, #welcome {
  width: 100%;
  max-width: 70px;
  height: 80%;
  max-height: 60px;
  border: 1px solid white;
  border-radius: 50%;
  background: image-url('pattern.png');
}

#wordmark{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

#menu {
  width: 100%;
  max-width: 70px;
  height: 80%;
  max-height: 60px;
}

button#dropdown {
  background: #0E2A36;
  border:none;
  padding: 0;
  margin: 0 1rem 0 0;
}

span.navbar-toggler-icon {
  width: 100%;
  max-width: 70px;
  height: 100%;
  max-height: 60px;
  border-radius: 50%;
}

div.btn-group.dropleft.show:active {
  border: none;
}


/* ALERTS*/

#alert {
  position: absolute;
  z-index: 2;
  margin-top: 75px;
  padding: 0;
  text-align: center;
  font-weight: bold;
}


/* FOOTER*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: #0E2A36;
   color: white;
   text-align: center;
   vertical-align: middle;
}


p#foot {
  color: #ffffff;
}