#welcome-jumbo {
	display:flex;
	align-content:center;
	justify-content:center;
	align-items:center;
	background: image-url('pattern.png');
	position:relative;
	overflow:hidden;
	height:100vh;
	margin-bottom: -500px;
	/*z-index: -1;*/
	vertical-align: middle;
}

#welcome_con {
	overflow-y: visible;
	padding-top: 50px;
}

p#slogan {
	padding: 0;
	margin: 0;
}

search-front {
	/*z-index: 1;*/
}


/*ABOUT PAGE*/
div#about {
	text-align: center;
	padding-bottom: 15vh;
	padding-top: 12vh;
	width: 75%;
}

h2#about-form-head {
	border: solid 5px #0E2A36;
	background: image-url('pattern.png'); 
	border-radius: 5px;
	color: white;
	width: 100%;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	font-family: 'Oswald',serif;
	font-size: 2em;
	color: white; 
	text-shadow:-1px -1px 0 #0E2A36, 1px -1px 0 #0E2A36,-1px 1px 0 #0E2A36, 1px 1px 0 #0E2A36;
	width: 100%;
}

p#about {
	color: #585858;
}

a#about {
	color: #0E2A36;
}